

.text-brown {
    color: #964f4c;
}

.audit-input {
    width: 70px;
    height: 35px;
    border: 1px solid #964f4c;
    border-radius: 8px;
    text-align: center;
    font-family: "Inria Serif", serif;
    background-color: #ffffff;
}

.audit-input:focus {
    border-color: #8b4a44;
    box-shadow: 0 0 0 0.2rem rgba(150, 79, 76, 0.25);
}


.table-card-bg {
    background: #fcefe4; 
    border-radius: 20px;
    width: 100%;
    height: auto; 
    position: relative;
    padding: 10px;
}


.main-content-area {
    margin-left: 270px; 
    background: #f0e6dd;
    min-height: 100vh;
}

.text-danger { color: #de2323 !important; }
.text-success { color: #28a745 !important; }
