.manager-eight-page-process-1-1-user-permissions,
.manager-eight-page-process-1-1-user-permissions * {
  box-sizing: border-box;
}
.manager-eight-page-process-1-1-user-permissions {
  background: #f0e6dd;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-5 {
  background: #e9d9cc;
  border-radius: 50px;
  width: 1162px;
  height: 113px;
  position: absolute;
  left: 272px;
  top: 21px;
}
.manage-users {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 653px;
  top: 36px;
  width: 400px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-rectangle {
  border-radius: 0px;
  width: 1011px;
  height: 501px;
  position: absolute;
  left: 347px;
  top: 175px;
  overflow: visible;
}
.inner-rec {
  width: 810px;
  height: 328px;
  position: absolute;
  left: 446px;
  top: 303px;
  overflow: visible;
}
.manage-users2 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 307px;
  top: 222px;
  width: 413px;
  height: 73px;
}
.search-box {
  position: absolute;
  inset: 0;
}
.search-box2 {
  background: #fcefe4;
  border-radius: 30px;
  width: 268px;
  height: 37px;
  position: absolute;
  left: 457px;
  top: 316px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.name {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 517px;
  top: 320px;
}
.div {
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 520px;
  top: 314px;
  width: 38px;
  height: 23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.div-span {
  color: #ffffff;
}
.div-span2 {
  color: #964f4c;
}
.add-new-user-rectangle {
  background: #964f4c;
  border-radius: 30px;
  width: 293px;
  height: 49px;
  position: absolute;
  left: 1045px;
  top: 226px;
}
.add-new-user {
  color: #ffffff;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1069px;
  top: 235px;
  width: 245px;
  height: 41px;
}
.lines {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 810px;
  height: auto;
  position: absolute;
  left: 446px;
  top: 367px;
  overflow: visible;
}
.rectangle-9 {
  background: rgba(216, 115, 111, 0.47);
  width: 810px;
  height: 50px;
  position: absolute;
  left: 446px;
  top: 367px;
}
.status-box {
  background: #964f4c;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 810px;
  height: 58px;
  position: absolute;
  left: 446px;
  top: 363px;
}
.frame-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.name2 {
  color: #ffffff;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.role {
  color: #ffffff;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.phone {
  color: #ffffff;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.status {
  color: #ffffff;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.user-info {
  position: absolute;
  inset: 0;
}
.name-1 {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 810px;
  height: 58px;
  position: absolute;
  left: 446px;
  top: 417px;
}
.toalima-t {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.manager {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
._333-801-2067 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.active {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.name-2 {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 810px;
  height: 58px;
  position: absolute;
  left: 446px;
  top: 467px;
}
.medhar-p {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.shift-lead {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
._333-801-2119 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.name-3 {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 810px;
  position: absolute;
  left: 446px;
  top: 514px;
}
.yinmin-l {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.employee {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
._333-801-2297 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.name-4 {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 810px;
  position: absolute;
  left: 448px;
  top: 567px;
}
.first-last-i {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.role2 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
._333-xxx-xxx {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.status2 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.add-new-user-main-triangle {
  background: #e9d9cc;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 299px;
  height: 397px;
  position: absolute;
  left: 319px;
  top: 619px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.anu-trinagle-2 {
  background: #fcefe4;
  border-radius: 20px;
  width: 243px;
  height: 301px;
  position: absolute;
  left: 345px;
  top: 699px;
}
.add-new-user2 {
  position: absolute;
  inset: 0;
}
.add-new-user3 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 363px;
  top: 650px;
}
.x {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 591px;
  top: 627px;
}
.anu-name {
  width: 217px;
  height: 62px;
  position: static;
}
.full-name {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 365px;
  top: 713px;
}
.rectangle-12 {
  background: #ffffff;
  border-radius: 20px;
  width: 217px;
  height: 38px;
  position: absolute;
  left: 358px;
  top: 737px;
}
.anu-phone {
  width: 217px;
  height: 62px;
  position: static;
}
.phone-number {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 365px;
  top: 775px;
}
.rectangle-122 {
  background: #ffffff;
  border-radius: 20px;
  width: 217px;
  height: 38px;
  position: absolute;
  left: 357px;
  top: 799px;
}
.anu-role {
  width: 217px;
  height: 161px;
  position: static;
}
.role3 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 363px;
  top: 837px;
}
.rectangle-123 {
  background: #ffffff;
  border-radius: 20px;
  width: 217px;
  height: 38px;
  position: absolute;
  left: 357px;
  top: 861px;
}
.rectangle-14 {
  background: #964f4c;
  border-radius: 20px;
  width: 146px;
  height: 38px;
  position: absolute;
  left: 389px;
  top: 960px;
}
.rectangle-13 {
  background: #ffffff;
  border-radius: 20px;
  width: 217px;
  height: 38px;
  position: absolute;
  left: 357px;
  top: 908px;
}
._333-xxx-xxxx {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 403px;
  top: 809px;
}
.first-last-initial {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 404px;
  top: 745px;
}
.employee2 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 426px;
  top: 869px;
}
.passsword {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 421px;
  top: 869px;
  width: 81px;
  height: 121px;
}
.add-user {
  color: #ffffff;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 420px;
  top: 967px;
}
.drop-down {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 550px;
  top: 880px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.rectangle-1 {
  width: 272px;
  height: 1024px;
  position: absolute;
  left: -2px;
  top: 0px;
  overflow: visible;
}
.kft-logo {
  width: 270px;
  height: 108px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 270/108;
}
.rectangle-8 {
  background: #e9d9cc;
  border-radius: 50px;
  width: 95px;
  height: 52px;
  position: absolute;
  left: 88px;
  top: 952px;
}
.logout {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 104px;
  top: 964px;
  width: 64px;
  height: 36px;
}
.rectangle-6 {
  background: #f0e6dd;
  border-radius: 50px;
  width: 295px;
  height: 75px;
  position: absolute;
  left: 12px;
  top: 496px;
}
.navigation-bar {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 238px;
  position: absolute;
  left: 32px;
  top: 177px;
}
.full-inventory-view {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.inventory-reconciliation {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.activity-log {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.dashboards-analytics {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  width: 238px;
  height: 24px;
}
.predictive-reports {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.manage-users3 {
  color: #964f4c;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.purchase-order-management {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  width: 226px;
  height: 48px;
}
