html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f0e6dd;
}

body {
  font-family: "Inria Serif", serif;
}

/* SIDEBAR */
.sidebar-wrapper {
  width: 270px;
  height: 100vh;
  background: #964f4c;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* LOGO */
.kft-logo {
  width: 270px;
  height: 108px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* NAV AREA */
.sidebar-nav {
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAV BUTTONS */
.nav-btn {
  width: 242px;
  min-height: 52px; 
  padding: 0 18px;
  border: none;
  border-radius: 38px;
  background: transparent;
  color: #f0e6dd;
  font-family: "Inria Serif", serif;
  font-size: 20px;
  cursor: pointer;
  transition: 0.18s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

/* ACTIVE + HOVER */
.nav-btn:hover,
.nav-btn.active {
  background: #f0e6dd;
  color: #964f4c;
}

/* TWO LINE BUTTON */
.nav-btn.two-line {
  min-height: 74px;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: flex-start;
}

/* LOGOUT */
.logout-btn {
  width: 95px;
  height: 52px;
  background: #e9d9cc;
  color: #964f4c;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
}

/* MAIN CONTENT */
.main-content-area {
  margin-left: 270px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* CONTENT */
.content-container-centered {
  max-width: 1170px;
  width: 100%;
  padding: 40px 20px;
}

/* HEADER */
.rectangle-5 {
  background: #e9d9cc;
  border-radius: 36px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title {
  font-size: 34px;
  font-weight: 700;
}

/* CARD */
.dashboard-card {
  background: #d8c4b5;
  border-radius: 30px;
}

/* TEXT */
.section-title {
  color: #964f4c;
  font-size: 28px;
  font-weight: 700;
}

.section-sub {
  color: #964f4c;
  font-size: 20px;
  font-weight: 600;
}

/* BUTTONS */
.approve-btn {
  background: #9d5651;
  color: #f0e6dd;
  border-radius: 30px;
  padding: 12px 30px;
  border: none;
}

.start-btn {
  background: #9d5651;
  color: #f0e6dd;
  border-radius: 20px;
  padding: 20px;
  border: none;
}

.resume-btn {
  background: #e9d9cc;
  border: 1.5px solid #b36a66;
  border-radius: 20px;
  padding: 20px;
}

/* HOVER EFFECTS */
.approve-btn:hover,
.start-btn:hover {
  background: #874946;
}

.resume-btn:hover {
  background: #f5e7dc;
}
