.manager-ninth-page-purchase-order-information,
.manager-ninth-page-purchase-order-information * {
  box-sizing: border-box;
}
.manager-ninth-page-purchase-order-information {
  background: #f0e6dd;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-5 {
  background: #e9d9cc;
  border-radius: 50px;
  width: 1162px;
  height: 113px;
  position: absolute;
  left: 272px;
  top: 21px;
}
.purchase-order-management {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 609px;
  top: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-rectangle {
  border-radius: 0px;
  width: 1011px;
  height: 775px;
  position: absolute;
  left: 347px;
  top: 175px;
  overflow: visible;
}
.inner-rec {
  width: 962px;
  height: 630px;
  position: absolute;
  left: 374px;
  top: 292px;
  overflow: visible;
}
.purchase-orders {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 243px;
  top: 226px;
  width: 598px;
  height: 41px;
}
.search-box {
  position: absolute;
  inset: 0;
}
.search-box2 {
  background: #f0e6dd;
  border-radius: 30px;
  width: 268px;
  height: 37px;
  position: absolute;
  left: 388px;
  top: 304px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.search {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 442px;
  top: 308px;
}
.div {
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 451px;
  top: 302px;
  width: 38px;
  height: 23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.div-span {
  color: #ffffff;
}
.div-span2 {
  color: #964f4c;
}
.add-new-order-rectangle {
  background: #964f4c;
  border-radius: 30px;
  width: 293px;
  height: 49px;
  position: absolute;
  left: 1045px;
  top: 226px;
}
.create-new-order {
  color: #ffffff;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1069px;
  top: 235px;
  width: 245px;
  height: 41px;
}
.status-box {
  background: #964f4c;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: flex-start;
  justify-content: center;
  width: 973px;
  height: 46px;
  position: absolute;
  left: 365px;
  top: 487px;
}
.order-no {
  color: #fffcfc;
  text-align: left;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.product {
  color: #fff8f8;
  text-align: left;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.quantity {
  color: #fff9f9;
  text-align: left;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.history {
  color: #fff9f9;
  text-align: left;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.status {
  color: #fff9f9;
  text-align: left;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.filter {
  background: #ffffff;
  border-style: solid;
  border-color: #964f4c;
  border-width: 1px;
  padding: 9px 27px 14px 364px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 228px;
  height: 41px;
  position: absolute;
  left: 388px;
  top: 373px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.div2 {
  color: #000000;
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 228px;
  top: 10px;
  width: 30px;
  height: 28px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.status-all {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 54px;
  top: 12px;
  -webkit-text-stroke: 1px #e9d9cc;
}
.line-20 {
  width: 968px;
  height: 98.5px;
  position: absolute;
  left: 374px;
  top: 630px;
  overflow: visible;
}
.line-21 {
  width: 964.5px;
  height: 0px;
  position: absolute;
  left: 376px;
  top: 834px;
  overflow: visible;
}
.order-1 {
  position: absolute;
  inset: 0;
}
.status2 {
  background: #fffdfd;
  border-radius: 10px;
  width: 138px;
  height: 64px;
  position: absolute;
  left: 1129px;
  top: 550px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.order-po-4 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 451px;
  top: 565px;
}
.taro-powder-large-cups-mango-syrup {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 633px;
  top: 544px;
}
._6-9-8 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 863px;
  top: 541px;
}
.ordered-3-5-2026-expected-3-11-2026 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 939px;
  top: 556px;
}
.pending {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1153px;
  top: 565px;
}
.v {
  color: #000000;
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1247px;
  top: 567px;
}
.x {
  color: #000000;
  text-align: center;
  font-family: "InstrumentSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1287px;
  top: 569px;
}
.order-3 {
  position: absolute;
  inset: 0;
}
.order-po-3 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 451px;
  top: 658px;
}
.status3 {
  background: #fffdfd;
  border-radius: 10px;
  width: 138px;
  height: 64px;
  position: absolute;
  left: 1129px;
  top: 644px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.chia-seeds-milk-powder-hot-med-cups {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 627px;
  top: 637px;
}
._5-10-4 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 858px;
  top: 637px;
}
.ordered-2-28-2026-expected-3-4-2026-received-3-5-2026 {
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 939px;
  top: 641px;
}
.ordered-2-28-2026-expected-3-4-2026-received-3-5-2026-span {
  color: #964f4c;
}
.ordered-2-28-2026-expected-3-4-2026-received-3-5-2026-span2 {
  background: linear-gradient(to left, #000000, #000000),
    linear-gradient(to left, #964f4c, #964f4c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.received {
  background: linear-gradient(to left, #000000, #000000),
    linear-gradient(to left, #964f4c, #964f4c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1149px;
  top: 658px;
}
.v2 {
  color: #000000;
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1252px;
  top: 658px;
}
.x2 {
  color: #000000;
  text-align: center;
  font-family: "InstrumentSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1287px;
  top: 767px;
}
.order-2 {
  position: absolute;
  inset: 0;
}
.status-button {
  background: #fffdfd;
  border-radius: 10px;
  width: 138px;
  height: 64px;
  position: absolute;
  left: 1129px;
  top: 748px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.order-po-2 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 451px;
  top: 757px;
}
.black-tea-green-tea-large-hot-cups {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 624px;
  top: 736px;
}
._5-5-4 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 862px;
  top: 736px;
}
.ordered-2-24-2026-expected-3-1-2026-received-3-1-2026 {
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 940px;
  top: 740px;
}
.ordered-2-24-2026-expected-3-1-2026-received-3-1-2026-span {
  color: #964f4c;
}
.ordered-2-24-2026-expected-3-1-2026-received-3-1-2026-span2 {
  background: linear-gradient(to left, #000000, #000000),
    linear-gradient(to left, #964f4c, #964f4c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.received2 {
  background: linear-gradient(to left, #000000, #000000),
    linear-gradient(to left, #964f4c, #964f4c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1149px;
  top: 763px;
}
.x3 {
  color: #000000;
  text-align: center;
  font-family: "InstrumentSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1287px;
  top: 660px;
}
.order-4 {
  position: absolute;
  inset: 0;
}
.status4 {
  background: #fffdfd;
  border-radius: 10px;
  width: 138px;
  height: 64px;
  position: absolute;
  left: 1129px;
  top: 850px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.order-po-1 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 453px;
  top: 863px;
}
.lychee-jelly-straws-oolong-tea {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 638px;
  top: 842px;
}
._6-10-5 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 857px;
  top: 842px;
}
.ordered-2-18-2026-expected-2-24-2026-received-2-24-2026 {
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 935px;
  top: 846px;
}
.ordered-2-18-2026-expected-2-24-2026-received-2-24-2026-span {
  color: #964f4c;
}
.ordered-2-18-2026-expected-2-24-2026-received-2-24-2026-span2 {
  background: linear-gradient(to left, #000000, #000000),
    linear-gradient(to left, #964f4c, #964f4c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.received3 {
  background: linear-gradient(to left, #000000, #000000),
    linear-gradient(to left, #964f4c, #964f4c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1149px;
  top: 863px;
}
.x-button {
  color: #000000;
  text-align: center;
  font-family: "InstrumentSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1287px;
  top: 864px;
}
.v3 {
  color: #000000;
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1252px;
  top: 765px;
}
.v4 {
  color: #000000;
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1252px;
  top: 863px;
}
.rectangle-1 {
  width: 272px;
  height: 1024px;
  position: absolute;
  left: -2px;
  top: 0px;
  overflow: visible;
}
.kft-logo {
  width: 270px;
  height: 108px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 270/108;
}
.logout {
  position: absolute;
  inset: 0;
}
.logout-button {
  background: #e9d9cc;
  border-radius: 50px;
  width: 95px;
  height: 52px;
  position: absolute;
  left: 88px;
  top: 952px;
}
.logout2 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 104px;
  top: 964px;
  width: 64px;
  height: 36px;
}
.rectangle-6 {
  background: #f0e6dd;
  border-radius: 50px;
  width: 295px;
  height: 75px;
  position: absolute;
  left: 13px;
  top: 577px;
}
.navigation-bar {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 238px;
  position: absolute;
  left: 32px;
  top: 177px;
}
.full-inventory-view {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.inventory-reconciliation {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.activity-log {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.dashboards-analytics {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  width: 238px;
  height: 24px;
  -webkit-text-stroke: 1px #964f4c;
}
.predictive-reports {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.manage-users {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.purchase-order-management2 {
  color: #964f4c;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  width: 226px;
  height: 48px;
}
.delete-order-screen {
  background: #e9d9cc;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 455px;
  height: 388px;
  position: absolute;
  left: 136px;
  top: 534px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.anu-trinagle-2 {
  background: #fcefe4;
  border-radius: 20px;
  width: 396px;
  height: 328px;
  position: absolute;
  left: 168px;
  top: 566px;
}
.delete-purchase-order {
  position: absolute;
  inset: 0;
}
.are-you-sure-you-want-to-delete-purchase-order {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 243px;
  top: 586px;
  width: 249px;
}
.x4 {
  color: #964f4c;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 564px;
  top: 542px;
}
.yes-button {
  width: 146px;
  height: 38px;
  position: static;
}
.rectangle-14 {
  background: #964f4c;
  border-radius: 20px;
  width: 146px;
  height: 38px;
  position: absolute;
  left: 183px;
  top: 762px;
}
.yes {
  color: #ffffff;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 242px;
  top: 768px;
}
.no-button {
  width: 146px;
  height: 38px;
  position: static;
}
.rectangle-142 {
  background: #964f4c;
  border-radius: 20px;
  width: 146px;
  height: 38px;
  position: absolute;
  left: 387px;
  top: 762px;
}
.no {
  color: #ffffff;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 451px;
  top: 768px;
}
